<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
              background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
              height: 300px;
              ">
    </div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body py-5 px-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <form>

                        <!-- Email input -->
                        <div class="form-outline col-md-12 mb-3">
                            
                            <input type="email" id="form3Example3" class="form-control" placeholder="Email" name="email"
                                required [(ngModel)]="loginRequest.email">
                            <div *ngIf="emailMissing" class="text-danger">*Please enter email</div>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline col-md-12 mb-4 justify-content-center">
                            <input type="password" id="form3Example4" class="form-control" placeholder="Password"
                                name="password" required [(ngModel)]="loginRequest.password">
                            <div *ngIf="passwordMissing" class="text-danger">*Please enter password</div>

                        </div>

                        <!-- Submit button -->
                        <div *ngIf="invalidCreds" class="text-danger">*Invalid Credentials</div>
                        <button type="submit" class="btn btn-primary btn-lg" (click)="login()">
                            Login
                        </button>
                        <pre></pre>
                        <div class="form-group row">
                            <div class="center">
                                <span>New Member? </span>
                                <a href="/signup">Sign Up</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>